NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=jhshskkjskksknxnslnxlnlasn
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_SOCKET_URL=http://localhost:4000
PLATFORM_API_SECRET=dbhsjhjdaskjhdksadcbsdb
SOCKET_TOKEN_SECRET=hdkjdlekjdflewdkkjf
